<%= effective_form_for :search, "#", [phx_change: :search, onkeypress: "return event.keyCode != 13;"], fn f -> %>
  <div class="input-group">
    <div class="input-group-prepend mb-3">
      <div class="input-group-text"><%= @count %></div>
    </div>
    <%= input f, :search, placeholder: "Search Players", class: ".form-control", phx_debounce: 10, label: false %>
  </div>
<% end %>
