<table class="table">
  <thead>
    <tr>
      <%= for label <- @field_labels do %>
        <th scope="col"><%= label %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= for statistic <- @statistics do %>
      <tr>
      <%= for column <- @field_columns do %>
        <td><%= Map.get(statistic, column, "") %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
