<div class="row">
  <div class="col-md-6">
    <h1>The Rush</h1>
  </div>
  <div class="col-md-6 text-right">
    <h2 class="text-muted">Football Player Rushing Statistics</h2>
  </div>
</div>

<%= live_render(@conn, TheRushWeb.Live.PlayerStatisticsTable, session: %{"record_quantity" => @record_quantity}) %>
